:root {
     --lightfont:rgb(202, 200, 200); 
}

nav {
    background-color: #11153a; 
}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #1c0f4c, #18174d, #161d4e, #16224d, #18274c, #2e2a4b, #3d2f4a, #483449, #593e47, #614b48, #655951, #69665f);;
}

h1 {
    color: var(--lightfont)
}

.today {
    color:  var(--lightfont);
    font-size:12px;
}

.weatherSearch {
    color: var(--lightfont);
}

.current-city {
    color: var(--lightfont);
    font-size:12px;
}

